.nav, .pagination, .carousel a { cursor: pointer; }
      
.ng-valid 		{  }
.ng-invalid  	{  }
.ng-pristine 	{  }
.ng-dirty 		{  }

/* really specific css rules applied by angular */
.ng-invalid-required 		{  }
.ng-invalid-minlength 		{  }
.ng-valid-max-length 		{  }

.gridStyle {
    border: 1px solid rgb(212,212,212);
    /*width: 400px;*/ 
    height: 200px
}