<div class="row">
    <div class="col-sm-12 col-sm-offset-4">
        <h2>Invoice Generator <small>(by RebelSoft)</small></h2>
    </div>
</div>
<div class="row">
    <form class="invoice-form css-form" name="invoiceForm" role="form" novalidate>
        <div class="col-sm-3 col-sm-offset-0">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Owner</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group" ng-class="{ 'has-error' : invoiceForm.name.$invalid && !invoiceForm.name.$pristine }">
                        <label>Name</label>
                        <input rbl-input type="text" name="name" class="form-control" ng-model="owner.name" required>
                        <p ng-show="invoiceForm.name.$invalid && !invoiceForm.name.$pristine" class="help-block">Name is required.</p>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : invoiceForm.address.$invalid && !invoiceForm.address.$pristine }">
                        <label>Address</label>
                        <input rbl-input type="text" name="address" class="form-control" ng-model="owner.address" tooltip="Address" required>
                        <p ng-show="invoiceForm.address.$invalid && !invoiceForm.address.$pristine" class="help-block">Address is required.</p>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : invoiceForm.city.$invalid && !invoiceForm.city.$pristine }">
                        <label>City</label>
                        <input rbl-input type="text" name="city" class="form-control" ng-model="owner.city" tooltip="Address" required>
                        <p ng-show="invoiceForm.city.$invalid && !invoiceForm.city.$pristine" class="help-block">City is required.</p>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : invoiceForm.country.$invalid && !invoiceForm.country.$pristine }">
                        <label>Country</label>
                        <input rbl-input type="text" name="country" class="form-control" ng-model="owner.country" tooltip="Country" required>
                        <p ng-show="invoiceForm.country.$invalid && !invoiceForm.country.$pristine" class="help-block">Country is required.</p>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : invoiceForm.postcode.$invalid && !invoiceForm.postcode.$pristine }">
                        <label>Postcode</label>
                        <input rbl-input type="text" name="postcode" class="form-control" ng-model="owner.postcode" tooltip="Postcode" required>
                        <p ng-show="invoiceForm.postcode.$invalid && !invoiceForm.postcode.$pristine" class="help-block">Postcode is required.</p>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : invoiceForm.nip.$invalid && !invoiceForm.nip.$pristine }">
                        <label>NIP</label>
                        <input rbl-input type="text" name="nip" class="form-control" ng-model="owner.nip" tooltip="NIP" required>
                        <p ng-show="invoiceForm.nip.$invalid && !invoiceForm.nip.$pristine" class="help-block">NIP is required.</p>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : invoiceForm.regon.$invalid && !invoiceForm.regon.$pristine }">
                        <label>Regon</label>
                        <input rbl-input type="text" name="regon" class="form-control" ng-model="owner.regon" tooltip="Regon">
                    </div>
                </div>
            </div>
        </div>
    </form>

    <form class="invoice-form css-form" name="invoiceDetailsForm" role="form" novalidate>
        <div class="col-sm-4 col-sm-offset-1">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>Details</h4>
                </div>
                <div class="panel-body">

                    <div class="form-group" ng-class="{ 'has-error' : invoiceDetailsForm.number.$invalid && !invoiceDetailsForm.number.$pristine }">
                        <label>Invoice number</label>
                        <input type="text" name="number" class="form-control" ng-model="details.number" required>
                        <p ng-show="invoiceDetailsForm.number.$invalid && !invoiceDetailsForm.number.$pristine" class="help-block">Invoice number is required.</p>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : invoiceDetailsForm.issued.$invalid && !invoiceDetailsForm.issued.$pristine }">
                        <label>Issued date</label>
                        <input type="text" class="form-control" ng-model="details.issued"
                            datepicker-popup="{{format}}" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                        <p ng-show="invoiceDetailsForm.issued.$invalid && !invoiceDetailsForm.issued.$pristine" class="help-block">Issued date is required.</p>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : invoiceDetailsForm.issued.$invalid && !invoiceDetailsForm.issued.$pristine }">
                        <label>Due date</label>
                        <input type="text" name="due" class="form-control" ng-model="details.due"
                               datepicker-popup="{{format}}" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                        <p ng-show="invoiceDetailsForm.due.$invalid && !invoiceDetailsForm.due.$pristine" class="help-block">Due date is required.</p>
                    </div>
                </div>
            </div>
        </div>

    </form>
    <form class="invoice-form css-form" name="invoiceCustomerForm" role="form" novalidate>
        <div class="col-sm-3 col-sm-offset-1">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Customer</h4>
                </div>
                <div class="panel-body">

                    <div class="form-group" ng-class="{ 'has-error' : invoiceCustomerForm.name.$invalid && !invoiceCustomerForm.name.$pristine }">
                        <label>Name</label>
                        <input rbl-input type="text" name="name" class="form-control" ng-model="customer.name" tooltip="Name" required>
                        <p ng-show="invoiceCustomerForm.name.$invalid && !invoiceCustomerForm.name.$pristine" class="help-block">Name is required.</p>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : invoiceForm.address.$invalid && !invoiceForm.address.$pristine }">
                        <label>Address</label>
                        <input rbl-input type="text" name="address" class="form-control" ng-model="customer.address" tooltip="Address" required>
                        <p ng-show="invoiceForm.address.$invalid && !invoiceForm.address.$pristine" class="help-block">Address is required.</p>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : invoiceForm.city.$invalid && !invoiceForm.city.$pristine }">
                        <label>Town/City</label>
                        <input rbl-input type="text" name="address" class="form-control" ng-model="customer.city" tooltip="City" required>
                        <p ng-show="invoiceForm.city.$invalid && !invoiceForm.city.$pristine" class="help-block">City is required.</p>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : invoiceForm.country.$invalid && !invoiceForm.country.$pristine }">
                        <label>Country</label>
                        <input rbl-input type="text" name="country" class="form-control" ng-model="customer.country" tooltip="Country" required>
                        <p ng-show="invoiceForm.country.$invalid && !invoiceForm.country.$pristine" class="help-block">Country is required.</p>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : invoiceForm.postcode.$invalid && !invoiceForm.postcode.$pristine }">
                        <label>Postcode</label>
                        <input rbl-input type="text" name="postcode" class="form-control" ng-model="customer.postcode" tooltip="Postcode" required>
                        <p ng-show="invoiceForm.postcode.$invalid && !invoiceForm.postcode.$pristine" class="help-block">Postcode is required.</p>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : invoiceForm.nip.$invalid && !invoiceForm.nip.$pristine }">
                        <label>NIP</label>
                        <input rbl-input type="text" name="nip" class="form-control" ng-model="customer.nip" tooltip="NIP" required>
                        <p ng-show="invoiceForm.nip.$invalid && !invoiceForm.nip.$pristine" class="help-block">NIP is required.</p>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="gridStyle" ng-grid="gridOptions"></div>
        <br>
        <div>
            <button class="btn btn-success" ng-click="addRow()" type="button">Add</button>
            <button class="btn btn-danger" ng-click="removeRow()" type="button" >Remove</button>
            <!--<button class="btn btn-secondary" ng-click="reset()" ng-disabled="isUnchanged(user)">Reset</button>-->
            <button class="btn btn-primary" ng-click="update(invoice)" ng-disabled="invoiceForm.$invalid || isUnchanged(invoice)">
                Preview PDF
            </button>

        </div>
    </div>
</div>
<br />
<div class="row">
    <form class="invoice-form css-form" name="invoicePaymentForm" role="form" novalidate>
        <div class="col-xs-7">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>Payment Information</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group" ng-class="{ 'has-error' : invoicePaymentForm.name.$invalid && !invoicePaymentForm.name.$pristine }">
                        <label>Name</label>
                        <input rbl-input type="text" name="name" class="form-control" ng-model="payment.name" tooltip="Name" required>
                        <p ng-show="invoicePaymentForm.name.$invalid && !invoicePaymentForm.name.$pristine" class="help-block">Name is required.</p>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : invoicePaymentForm.bankname.$invalid && !invoicePaymentForm.bankname.$pristine }">
                        <label>Bank Name</label>
                        <input rbl-input type="text" name="bankname" class="form-control" ng-model="payment.bankname" tooltip="Bank Name" required>
                        <p ng-show="invoicePaymentForm.bankname.$invalid && !invoicePaymentForm.bankname.$pristine" class="help-block">Bank Name is required.</p>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : invoicePaymentForm.account.$invalid && !invoicePaymentForm.account.$pristine }">
                        <label>Account</label>
                        <input rbl-input type="text" name="account" class="form-control" ng-model="payment.account" tooltip="Account" required>
                        <p ng-show="invoicePaymentForm.account.$invalid && !invoicePaymentForm.account.$pristine" class="help-block">Account is required.</p>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form class="invoice-form css-form" name="invoiceContactForm" role="form" novalidate>
        <div class="col-xs-5">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>Contact Details</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group" ng-class="{ 'has-error' : invoiceContactForm.email.$invalid && !invoiceContactForm.email.$pristine }">
                        <label>Email</label>
                        <input rbl-input type="text" name="email" class="form-control" ng-model="contact.email" tooltip="Email">
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : invoiceContactForm.mobile.$invalid && !invoiceContactForm.mobile.$pristine }">
                        <label>Mobile phone</label>
                        <input rbl-input type="text" name="mobile" class="form-control" ng-model="contact.mobile" tooltip="Mobile phone number">
                    </div>
                    <h4>
                        <small>payment should be mabe by Bank Transfer
                    </h4>
                </div>
            </div>
        </div>
    </form>
</div>
